---
import Base from '../layouts/Base.astro';
import Hero from '../components/Hero.astro';
---

<Base>
  <main>
    <Hero />
  </main>

  <script>
    import { initAnimations } from '../scripts/animations.js';
    initAnimations();
  </script>
</Base>
